<div class="column">
  <div id="login">
    <div class="title-container">
      <h2>Login</h2>
    </div>
    <div class="form-container">
      <form [formGroup]="loginForm" (submit)="login()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            id="login-email"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            id="login-password"
            placeholder="Password"
          />
        </div>
        <button mat-raised-button type="submit" class="btn btn-primary">
          Login
        </button>
      </form>
    </div>
  </div>
</div>
<div class="column">
  <div id="createAcount">
    <div class="title-container">
      <h2>Create an account</h2>
    </div>
    <div class="form-container">
      <form [formGroup]="createAccountForm" (submit)="createAccount()">
        <div class="form-group">
          <div class="form-group">
            <label for="display-name">Name</label>
            <input
              type="text"
              formControlName="displayName"
              class="form-control"
              id="display-name"
              placeholder="Name"
            />
          </div>
          <label for="email">Email</label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            id="create-email"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            id="create-password"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm password</label>
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control"
            id="confirm-password"
            placeholder="Confirm password"
          />
        </div>
        <button mat-raised-button type="submit" class="btn btn-secondary">
          Create an account
        </button>
      </form>
    </div>
  </div>
</div>
