<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header>
      <h3>Colors</h3>
    </mat-expansion-panel-header>
    <div class="colors-list">
      @if (filteredColors().length > 0) {
      <div class="options-container">
        @for (color of filteredColors(); track color.id) {
        <button mat-list-item class="option-item" (click)="onClick(color)">
          {{ color.name }}
        </button>
        }
      </div>
      } @else {
      <p class="no-colors">No colors found</p>
      }
    </div>
    <div>
      <div class="settings-actions">
        <mat-slide-toggle
          #activeToggle
          [checked]="true"
          [(ngModel)]="activeOnly"
        >
          Active only
        </mat-slide-toggle>
        <button mat-raised-button class="btn-primary" (click)="addColor()">
          Add Color
        </button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
