.filters {
    display: grid;
    gap: 8px;
    align-items: baseline;
    justify-items: center;
    grid-template-rows: auto;
    grid-template-columns: max-content max-content;
  }
  
  @media (max-width: 473px) {
    .filters {
      grid-template-columns: 1fr;
    }
  }
  
  @media (min-width: 474px) {
    .add-button {
      grid-column-start: 1;
      grid-column-end: span 2;
    }
}

.empty-stash {
  padding-top: 60px;
  justify-items: center;
}

.stash-header {
    display: grid;
    grid-template-columns:50% 50%;
    padding-top: 40px;
    padding-bottom: 10px;
    
    h2 {
        font-size: 2em;
        font-weight: bold;
        color: black;
        justify-items: left;
    }

    a {
      justify-items: right;
      justify-self: right;
    }

}