<div>
  <h2>Add fabric</h2>
  <form>
    <p>
      <label for="fiber">Fiber</label>
      <input type="text" id="fiber" name="fiber" />
    </p>
    <p>
      <label for="material">Material</label>
      <input type="text" id="material" name="material" />
    </p>
    <p>
      <label for="pattern">Pattern</label>
      <input type="text" id="pattern" name="pattern" />
    </p>
    <p>
      <label for="color">Color</label>
      <input type="text" id="color" name="color" />
    </p>
    <p>
      <label for="source">Source</label>
      <input type="text" id="source" name="source" />
    </p>
    <p>
      <label for="width">Width (in.)</label>
      <input type="number" id="width" name="width" />
    </p>
    <p>
      <label for="length">Length</label>
      <input type="number" id="length" name="length" />
    </p>
    <p>
      <label for="scrap">Scrap</label>
      <input type="checkbox" id="scrap" name="scrap" />
    </p>
    <button
      mat-raised-button
      class="btn-secondary"
      type="submit"
      (click)="onSubmit()"
    >
      Create
    </button>
  </form>
</div>
