<div>
  <div class="active-toggle">
    <mat-slide-toggle #activeToggle [checked]="true" [(ngModel)]="activeOnly">
      Active only
    </mat-slide-toggle>
  </div>
  <div class="materials-list">
    @if (filteredMaterials().length > 0) {
    <ul>
      @for (material of filteredMaterials(); track material.id) {
      <li>
        <a (click)="onClick(material)">{{ material.name }}</a>
      </li>
      }
    </ul>
    } @else {
    <p class="no-materials">No materials found</p>
    }
  </div>
  <div class="add-button">
    <button mat-raised-button class="btn-primary" (click)="addMaterial()">
      Add Material
    </button>
  </div>
</div>
