mat-icon {
  font-size: 24px !important;
  height: 24px !important;
  width: 24px !important;
  color: white;
  margin: 0 2px 0 0 !important;
}

#title {
  display: inline-block;
  margin-right: 15px;
  line-height: 48px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.links a {
    padding-left: 12px !important;
    padding-right: 12px !important;
    color: white;
    line-height: 24px;
  }
  
  .links a span {
    line-height: 24px;
    font-size: 1.125rem !important;
  }

  .account-links {
    margin-left: auto;
    margin-right: 0;
    display: grid;
    grid-auto-flow: column;
    a {
      padding-top: 0.5em;
      color: white;
    }
  }