.links a {
    padding-left: 6px !important;
    padding-right: 6px !important;
    color: white;
    line-height: 24px;
  }
  
  .links a span {
    line-height: 24px;
    font-size: 1.125rem !important;
  }