// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './app/styles/m3-peri-theme.scss' as theme;
// Plus imports for other components in your app.
$enable-negative-margins: true;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
html {
  @include mat.all-component-themes(theme.$light-theme);
}

/* You can add global styles to this file, and also import other style files */
header {
  padding-left: 25px;
}

html,
body {
  height: 100%;
}

* {
  font-family: 'Open Sans'
}

body {
  margin: 0;
}

main {
  padding-left: 25px;
}

a.options-link {
  text-decoration: none;
  color: mat.get-theme-color(theme.$light-theme, primary, 50) !important;
}

a:hover {
  cursor: pointer;
  color: mat.get-theme-color(theme.$light-theme, secondary, 70) !important;
}

.container {
  position: relative;
  display: grid;
  margin-top: 2rem;
}

.mat-toolbar,
.mat-mdc-menu-panel {
  background: mat.get-theme-color(theme.$light-theme, primary, 40) !important;
  color: white !important;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

button {
  margin: 10px;
}

.btn-delete:not([disabled]) {
  background-color: mat.get-theme-color(theme.$light-theme, neutral, 0) !important;
  color: mat.get-theme-color(theme.$light-theme, neutral, 100) !important;
}

.btn-cancel:not([disabled]) {
  background-color: mat.get-theme-color(theme.$light-theme, neutral, 80) !important;
  color: mat.get-theme-color(theme.$light-theme, neutral, 0) !important;
}

.btn-primary:not([disabled]) {
  background-color: mat.get-theme-color(
    theme.$light-theme,
    primary,
    35
  ) !important;
  color: mat.get-theme-color(theme.$light-theme, primary, 100) !important;
}

.btn-secondary:not([disabled]) {
  background-color: mat.get-theme-color(
    theme.$light-theme,
    secondary,
    80
  ) !important;
  color: mat.get-theme-color(theme.$light-theme, secondary, 0) !important;
}

.btn-tertiary:not([disabled]) {
  background-color: mat.get-theme-color(
    theme.$light-theme,
    tertiary,
    40
  ) !important;
  color: mat.get-theme-color(theme.$light-theme, tertiary, 100) !important;
}

.btn-danger:not([disabled]) {
  background-color: mat.get-theme-color(
    theme.$light-theme,
    error,
    40
  ) !important;
  color: mat.get-theme-color(theme.$light-theme, error, 100) !important;
}

.account-tabs {
  .mat-mdc-tab-label-container {
    border-bottom-width: 4px !important;
    border-bottom-color: mat.get-theme-color(theme.$light-theme, secondary, 95);
  }

  .mat-mdc-tab {
    padding: 0 8px !important;
    min-width: 0 !important;
  }

  .mat-mdc-tab:first-child {
    padding-left: 0 !important;
  }

  .mat-mdc-tab:last-child {
    padding-right: 0 !important;
  }

  .mdc-tab__text-label {
    font-size: 1.2em !important;
    font-weight: bold !important;
  }

  .mat-mdc-tab-body-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
    justify-items: center;
    padding: 16px 0;
  }
}

.primary-link {
  color: mat.get-theme-color(theme.$light-theme, primary, 50) !important;
}

table thead tr,
tfoot tr {
  background-color: mat.get-theme-color(theme.$light-theme, primary, 70) !important;
  color: mat.get-theme-color(theme.$light-theme, primary, 0) !important;
}

.scrollable-table {
  border: 2px solid;
}

.table-container {
    margin-top: 8px;
    display: grid;
    justify-content: center;
}

.clickable-row:hover {
  background-color: mat.get-theme-color(theme.$light-theme, secondary, 70) !important;
  cursor: pointer;
}

